
.all-skills-table {
  width: 100%;
  outline: none;
}

.skill-heading {
  margin-top: 0;
}

@media (min-width: 768px) {
  .skill-heading {
    font-size: 3rem;
  }
}

.all-skill-image {
  width: 32px;
  height: 32px;
}

.rating-column {
  width: 30%;
  min-width: 100px;
}
