<section class="bg-secondary" id="all-skills">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ "all-skills.title" | translate }}</h2>
        <hr class="hr-dark"/>
        <p class="text-muted mb-4">{{ "all-skills.intro" | translate }}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h3 class="skill-heading">{{ "all-skills.languages.heading" | translate }}</h3>
    <p class="text-muted mb-4">{{ "all-skills.languages.intro" | translate }}</p>

    <collapsible-table class="all-skills-table" [type]="'accordion'" [borderedHorizontally]="true" [highlight]="true">

      <thead>
      <collapsible-table-row>
        <th>Language</th>
        <th class="rating-column">Rating</th>
      </collapsible-table-row>
      </thead>

      <tbody>
      <collapsible-table-row [detail]="detail_java">
        <td>
          <img class="all-skill-image" src="assets/logo_java_96.svg" alt="Docker" title="Docker Logo"/>
          <span>{{ "all-skills.languages.java.title" | translate }}</span></td>
        <td class="rating-column">
          <bar-rating [rate]="7" [max]="8" [readOnly]="true" [theme]="'horizontal'"></bar-rating>
        </td>
      </collapsible-table-row>
      <collapsible-table-row-detail #detail_java>
        <table>
          <tr>
            <td width="100%">
              <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.

                Hvorfor bruger vi det?
                Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her – og mere tekst her", mens det samtidigt ligner almindelig tekst. Mange layoutprogrammer og webdesignere bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).


                Hvor kommer det fra?
                I modsætning til hvad mange tror, er Lorem Ipsum ikke bare tilfældig tekst. Det stammer fra et stykke litteratur på latin fra år 45 f.kr., hvilket gør teksten over 2000 år gammel. Richard McClintock, professor i latin fra Hampden-Sydney universitet i Virginia, undersøgte et af de mindst kendte ord "consectetur" fra en del af Lorem Ipsum, og fandt frem til dets oprindelse ved at studere brugen gennem klassisk litteratur. Lorem Ipsum stammer fra afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum" (Det gode og ondes ekstremer), som er skrevet af Cicero i år 45 f.kr. Bogen, som var meget populær i renæssancen, er en afhandling om etik. Den første linie af Lorem Ipsum "Lorem ipsum dolor sit amet..." kommer fra en linje i afsnit 1.10.32.

                Standardafsnittet af Lorem Ipsum, som er brugt siden 1500-tallet, er gengivet nedenfor for de, der er interesserede. Afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum" af Cicero er også gengivet i deres nøjagtige udgave i selskab med den engelske udgave fra oversættelsen af H. Rackham fra 1914.</p>
            </td>

          </tr>
        </table>
      </collapsible-table-row-detail>

      <collapsible-table-row [detail]="detail2">
        <td>Cell(1,1)</td>
        <td class="rating-column">Cell(1,2)</td>
      </collapsible-table-row>
      <collapsible-table-row-detail #detail2>
        <p>Row #2 Detail</p>
      </collapsible-table-row-detail>

      </tbody>

    </collapsible-table>

  </div>
</section>
