@import "../../../../theme/theme-variables";

.nav-link {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.neo-navbar {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: $theme-secondary;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand {
  font-weight: 700;
  color: $theme-primary;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.dropdown-menu {
  margin-bottom: 6px;
}

.nav-link,
.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $theme-dark;
}

.nav-link:hover,
.nav-link:focus:hover {
  color: $theme-primary;
}

.nav-link.active,
.nav-link:focus.active {
  color: $theme-primary;
  background-color: transparent;
}

.nav-link.active:hover,
.nav-link:focus.active:hover {
  background-color: transparent;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: $theme-primary;
}

@media (min-width: 576px) {
  .neo-navbar {
    border-color: transparent;
    background-color: transparent;
  }

  .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-brand:focus,
  .navbar-brand:hover {
    color: $theme-secondary;
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }

  .nav-link,
  .nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  .nav-link:hover {
    color: $theme-secondary;
  }

  .nav-link:focus:hover {
    color: $theme-secondary;
  }

  .neo-navbar-collapse {
    margin-top: 4px;
  }

  .navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: $theme-secondary;
  }

  .navbar-shrink .navbar-brand {
    color: $theme-primary;
  }

  .navbar-shrink .navbar-brand:focus,
  .navbar-shrink .navbar-brand:hover {
    color: $theme-primary;
  }

  .navbar-shrink .neo-navbar-nav > .nav-item > .nav-link,
  .navbar-shrink .neo-navbar-nav > .nav-item > .nav-link:focus {
    color: $theme-dark;
  }

  .navbar-shrink .neo-navbar-nav > .nav-item > .nav-link:hover,
  .navbar-shrink .neo-navbar-nav > .nav-item > .nav-link:focus:hover {
    color: $theme-primary;
  }
}
