@import "../../../../theme/theme-variables";

.nav-link {
  cursor: pointer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.neo-navbar {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: $theme-secondary;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  transition: all 0.2s;
}

.neo-navbar .navbar-brand {
  font-weight: 700;
  // text-transform: uppercase;
  color: $theme-primary;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.neo-navbar .navbar-brand:focus,
.neo-navbar .navbar-brand:hover {
  color: $theme-primary;
}

.neo-navbar-nav > .nav-item > .nav-link,
.neo-navbar-nav > .nav-item > .nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $theme-dark;
}

.neo-navbar-nav > .nav-item > .nav-link:focus:hover,
.neo-navbar-nav > .nav-item > .nav-link:hover {
  color: $theme-primary;
}
.neo-navbar-nav > .nav-item > .nav-link.active,
.neo-navbar-nav > .nav-item > .nav-link:focus.active {
  color: $theme-primary;
  background-color: transparent;
}
.neo-navbar-nav > .nav-item > .nav-link.active:hover,
.neo-navbar-nav > .nav-item > .nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 600px) {
  .neo-navbar {
    border-color: transparent;
    background-color: transparent;
  }

  .neo-navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  .neo-navbar .navbar-brand:focus,
  .neo-navbar .navbar-brand:hover {
    color: $theme-secondary;
  }

  .neo-navbar-nav > .nav-item > .nav-link {
    padding: 0.5rem 1rem;
  }

  .neo-navbar-nav > .nav-item > .nav-link,
  .neo-navbar-nav > .nav-item > .nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  .neo-navbar-nav > .nav-item > .nav-link:focus:hover,
  .neo-navbar-nav > .nav-item > .nav-link:hover {
    color: $theme-secondary;
  }

  .neo-navbar.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: $theme-secondary;
  }

  .neo-navbar.navbar-shrink .navbar-brand {
    color: $theme-primary;
  }

  .neo-navbar.navbar-shrink .navbar-brand:focus,
  .neo-navbar.navbar-shrink .navbar-brand:hover {
    color: $theme-primary;
  }

  .neo-navbar.navbar-shrink .neo-navbar-nav > .nav-item > .nav-link,
  .neo-navbar.navbar-shrink .neo-navbar-nav > .nav-item > .nav-link:focus {
    color: $theme-dark;
  }

  .neo-navbar.navbar-shrink .neo-navbar-nav > .nav-item > .nav-link:focus:hover,
  .neo-navbar.navbar-shrink .neo-navbar-nav > .nav-item > .nav-link:hover {
    color: $theme-primary;
  }
}
