@import "../../../theme/theme-variables";

.footer {
  background-color: $theme-dark;
}

.footer-email {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.social-link-bar {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.btn-footer-link {
  margin: 6px;
  padding-right: 30px;
  white-space: initial;
}

.footer-link-col {
  padding: 6px;
}

.footer-link-col img {
  margin: 6px 10px;
}

.footer-link-col a:visited,
.footer-link-col a:hover,
.footer-link-col a:link,
.footer-link-col a:active {
  text-decoration: none;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3rem;
  }
}
