<section id="contact" class="footer text-white">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading" translate>Awaiting connection...</h2>
        <hr class="hr-light"/>
        <div class="footer-email">
          <a href="mailto:andreas@neoprime.it" title="E-mail, Andreas Lorenzen">andreas@neoprime.it</a>
        </div>

        <div class="col text-center social-link-bar footer-link-col">
          <a href="https://twitter.com/aplorenzen" target="_blank" title="Twitter, Andreas Lorenzen">
            <img src="assets/logo_twitter.svg" width="37" height="37" alt="Twitter" title="Twitter"/>
          </a>
          <a href="https://www.linkedin.com/in/andreas-lorenzen" target="_blank" title="Linkedin, Andreas Lorenzen">
            <img src="assets/logo_linkedin.svg" width="37" height="37" alt="Linkedin" title="Linkedin"/>
          </a>
          <a href="https://stackoverflow.com/users/8346801?tab=profile" target="_blank" title="Stack Overflow, Andreas Lorenzen">
            <img src="assets/logo_stackoverflow.svg" width="37" height="37" alt="Stack Overflow" title="Stack Overflow"/>
          </a>
          <a href="https://github.com/aplorenzen" target="_blank" title="Github, Andreas Lorenzen">
            <img src="assets/logo_github_3.svg" width="37" height="37" alt="Github" title="Github"/>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="buildUrl && buildId" class="col text-center footer-link-col">
        <a href="{{buildUrl}}" class="btn btn-success btn-footer-link" role="button" title="Jenkins Build">
          <img src="assets/logo_jenkins.svg" width="20" height="20" alt="Jenkins" title="Jenkins Build"/><span translate>Build</span> ({{buildId}})
        </a>
      </div>
      <div class="col text-center footer-link-col">
        <a href="{{gitUrl}}" class="btn btn-info btn-footer-link" role="button" title="Github Repository">
          <img src="assets/logo_github_2.svg" width="20" height="20" alt="Github Repository" title="Github Repository"/>
          <span translate>Hey! This site is open source!</span></a>
      </div>
    </div>
  </div>

</section>
