@import "../../../theme/theme-variables";

.footer {
  background-color: $theme-dark;
}

.footer-email {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.social-link-bar {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.btn-footer-link {
  margin: 6px;
}

.footer-link-col > a {
  margin: 4px;
}

.footer-link-col a:visited,
.footer-link-col a:hover,
.footer-link-col a:link,
.footer-link-col a:active {
  text-decoration: none;
}
