<!-- <footer id="footerContainer">
  <div class="contentContainer">

    <div id="footerContents">
      <div id="helloSize" style="font-size: 40px;"><a href="mailto:hello@griflan.com" id="footerHello">hello@griflan.com</a></div>

      <h2 id="phoneNumbers" style="font-size: 26px;">610.952.1398   <span style="padding:0px 2.5%; display:inline-block;">|</span>   856.816.6159</h2>

      <p>We're working hard Monday through Friday, starting bright and early with a cup of lightly creamed coffee. We prefer email, but feel free to give us a ring for good measure.</p>

      <div id="socialIcons">
        <a href="https://twitter.com/Griflan" target="_blank"><img src="/images/social-twitter.png" width="37" height="37" alt="twitter"></a>
        <a href="https://www.facebook.com/griflan" target="_blank"><img src="/images/social-fb.png" width="37" height="37" alt="facebook"></a>
        <a href="https://www.linkedin.com/" target="_blank"><img src="/images/social-linkedin.png" width="37" height="37" alt="linkedin"></a>
        <a href="https://dribbble.com/Griflan" target="_blank"><img src="/images/social-dribble.png" width="37" height="37" alt="dribble"></a>
      </div>

      <p class="copyright">Copyright 2014 Griflan Design Inc.  All Rights Reserved</p>
    </div>

  </div>
</footer>
-->

<section id="contact" class="footer text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <div style="font-size: 1.5rem; font-weight: 300; text-align: center;">
          <a href="mailto:andreas@neoprime.it" id="footerHello">andreas@neoprime.it</a>
        </div>
          <p></p>
        <!-- <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and
          we will get back to you as soon as possible!</p> -->

        <div class="col text-center">
          <a href="https://twitter.com/aplorenzen" target="_blank">
            <img src="../../../assets/logo_twitter_2.png" width="37" height="37" alt="twitter">
          </a>
          <a href="https://www.linkedin.com/in/andreas-lorenzen" target="_blank">
            <img src="../../../assets/logo_linkedin_2.png" width="37" height="37" alt="linkedin">
          </a>
          <a href="https://stackoverflow.com/users/8346801?tab=profile" target="_blank">
            <img src="../../../assets/logo_stackoverflow_3.png" width="37" height="37" alt="Stack Overflow">
          </a>
          <a href="https://github.com/aplorenzen" target="_blank">
            <img src="../../../assets/logo_github_3.png" width="37" height="37" alt="Github">
          </a>
        </div>
        <!-- <a href="https://www.facebook.com/griflan" target="_blank"><img src="/images/social-fb.png" width="37" height="37" alt="facebook"></a> -->

        <!-- <a href="https://dribbble.com/Griflan" target="_blank"><img src="/images/social-dribble.png" width="37" height="37" alt="dribble"></a> -->
      </div>

    </div>

    <!-- <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact" data-sr-id="8"
           style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
        <p>+45 29913266</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope fa-3x mb-3 sr-contact" data-sr-id="9"
           style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
        <p>
          <a href="mailto:your-email@your-domain.com">andreas@neoprime.it</a>
        </p>
      </div>
    </div> -->
  </div>
</section>
