<section class="bg-secondary" id="skills">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ "default.skills.title" | translate }}</h2>
        <hr class="hr-dark"/>
        <p class="text-muted mb-4">{{ "default.skills.intro" | translate }}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_docker_96.svg" alt="Docker" title="Docker Logo"/>
          <h3 class="mb-3">Docker</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2014</p>
          <p class="text-muted mb-0">{{ "default.skills.docker" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_bash_1.svg" alt="Bash" title="Bash Logo"/>
          <h3 class="mb-3">Bash</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2010</p>
          <p class="text-muted mb-0" [innerHTML]="'default.skills.bash' | translate"></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_java_96.svg" alt="Java" title="Java Logo"/>
          <h3 class="mb-3">Java</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2000</p>
          <p class="text-muted mb-0">{{ "default.skills.java" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_linux_96.svg" alt="Linux" title="Linux Logo"/>
          <h3 class="mb-3">Linux</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2010</p>
          <p class="text-muted mb-0">{{ "default.skills.linux" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_angular_96.svg" alt="Angular" title="Angular Logo"/>
          <h3 class="mb-3">Angular</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2016</p>
          <p class="text-muted mb-0">{{ "default.skills.angular" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_spring_boot.svg" alt="Spring Boot" title="Spring Boot Logo"/>
          <h3 class="mb-3">Spring Boot</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2015</p>
          <p class="text-muted mb-0">{{ "default.skills.springboot" | translate}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_python_96.svg" alt="Python" title="Python Logo"/>
          <h3 class="mb-3">Python</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2014</p>
          <p class="text-muted mb-0" [innerHTML]="'default.skills.python' | translate"></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_javascript_3.svg" alt="Javascript" title="JavascriptLogo"/>
          <h3 class="mb-3">Javascript</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2012</p>
          <p class="text-muted mb-0" [innerHTML]="'default.skills.javascript' | translate"></p>
        </div>
      </div>

    </div>
  </div>
</section>
