<section class="bg-secondary" id="skills">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" translate>Key Skills</h2>
        <hr class="my-4"/>
        <p class="text-muted mb-4" translate>To give you some idea about what I do best, I thought I would supply a list of what I consider my essential skills.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_docker_96.svg" alt="Docker" title="Docker Logo"/>
          <h3 class="mb-3">Docker</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2014</p>
          <p class="text-muted mb-0" translate>I am quite seasoned here, having been on board since before the 1.0 release. And since 2016, I have been advocating using Docker in production. These days I basically wrap everything I do in Docker containers - it's a great time to be a developer.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_bash_1.svg" alt="Bash" title="Bash Logo"/>
          <h3 class="mb-3">Bash</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2010</p>
          <p class="text-muted mb-0" translate>I find myself loving the linux shell more and more with every passing year. With this in my belt, I am able to automate complex chains of tools and events. <a target="_blank" href="https://en.wikipedia.org/wiki/Unix_philosophy" title="The Unix Philosophy" translate>The unix philosophy</a> definitely strikes a chord with me.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_java_96.svg" alt="Java" title="Java Logo"/>
          <h3 class="mb-3">Java</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2000</p>
          <p class="text-muted mb-0" translate>There's a lot of new languages landing in the development space these day, and a lot of them have valid use cases and are worth looking into. And still, java is in my opinion managing to stay current. With it's age old proposition of solving pretty much everything for you, pretty much everywhere.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_linux_96.svg" alt="Linux" title="Linux Logo"/>
          <h3 class="mb-3">Linux</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2010</p>
          <p class="text-muted mb-0" translate>I started exploring Linux back in 2010, and it's been something of a romance ever since. I was raised on DOS and Windows, and was a bit intimidated by Linux at first. But it did not take long for me to awaken to the advantages of Linux and the immense universe of distros, tools and knowledge that exists.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_angular_96.svg" alt="Angular" title="Angular Logo"/>
          <h3 class="mb-3">Angular</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2016</p>
          <p class="text-muted mb-0" translate>As many others with an educational background in programming, I started as a backend programmer. Only in recent years have I also picked up the frontend discipline, in my own time. When Angular 2 was released, I realized that typescript would be a great path for me, given my background. And it has been, I really enjoy Angular and the npm universe.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_spring_boot.svg" alt="Spring Boot" title="Spring Boot Logo"/>
          <h3 class="mb-3">Spring Boot</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2015</p>
          <p class="text-muted mb-0" translate>Spring, is a big framework - really big. And tying a lot of it together is Spring Boot. With this, I can set up self contained and scalable micro services and websites, in just about no time. And it just plays so well with Docker - it's a match made in silicon heaven.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" ngsReveal>
        <div class="service-box mt-5 mx-auto">
          <img class="skill-image" src="assets/logo_python_96.svg" alt="Python" title="Python Logo"/>
          <h3 class="mb-3">Python</h3>
          <p class="mt-2 mb-3 skill-since"><span translate>Since</span> 2014</p>
          <p class="text-muted mb-0" translate>I like to automate things. And sometime this requires more than shell scripting is proficient for, while still not being enough to pull the big weapons. Python allows me to connect almost any two ends, and automate some behaviour. Like <a target="_blank" href="https://github.com/aplorenzen/wildfly-es-reporter" title="Wildfly Elasticsearch Reporter" translate>this project</a> where I pull statistics from a <a target="_blank" title="Wildfly" href="http://wildfly.org/">Wildfly</a> server, and push it to an <a target="_blank" title="Elasticsearch" href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> host</p>
        </div>
      </div>

    </div>
  </div>
</section>
