@import "../../../theme/theme-variables";

.page-container {
  min-height: 100%;
}

.top-image-row {
  padding-top: 80px;
}

.top-image {
  width: 80%;
  max-width: 400px;
}

.page-title {
  font-weight: 700;
}

.page-button {
  margin-bottom: 16px;
}
