<header class="banner text-center text-white d-flex" id="pagetop">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">Andreas Lorenzen</h1>
        <hr/>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5" translate>Fullstack and DevOps developer, Java, Spring, Angular, Docker</p>
        <a class="btn btn-primary btn-xl text-uppercase" [ngx-scroll-to]="'#profile'" translate>Profile</a>
        <a class="btn btn-secondary text-dark btn-xl text-uppercase" [ngx-scroll-to]="'#contact'" translate>Contact</a>
      </div>
    </div>
  </div>
</header>
