.banner {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  background-image: url("../../../assets/more-coffee-desktop-background-18.jpeg");
  background-position: center center;
  background-size: cover;
}
