<section class="bg-primary" id="chuck">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2>{{ "default.chuck.title" | translate }}</h2>
        <hr class="hr-light"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <img class="logo" src="assets/chuck_norris_4.png" alt="Chuck Norris" title="Chuck Norris"/>
      </div>
    </div>
  </div>
</section>
