<section class="bg-primary" id="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white" translate>Profile</h2>
        <hr class="hr-light my-4"/>
        <img class="profile-image" src="../../../assets/profile_placeholder.png"/>
        <p class="text-faded mb-4" translate>
          Let's get this section written sir!
        </p>
        <a class="btn btn-light btn-xl text-uppercase" [ngx-scroll-to]="'#skills'" translate>Key Skills</a>
      </div>
    </div>
  </div>
</section>
