<section class="bg-primary" id="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white" translate>Profile</h2>
        <hr class="hr-light my-4">
        <img style="height: 256px; width: 256px;" src="../../../assets/profile_placeholder.png">
        <p class="text-faded mb-4" translate>

        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" [ngx-scroll-to]="'#skills'" translate>Key Skills</a>
      </div>
    </div>
  </div>
</section>
