<section class="bg-dark" id="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white" translate>Profile</h2>
        <hr class="hr-light my-4"/>
        <img class="profile-image" src="../../../assets/profile_placeholder.png"/>
        <p class="text-faded mb-4" translate>Hi! My name is Andreas. I am a software engineer, and you have arrived at my online resume. This site is all about me in my professional context. You have been warned.<span> 🙂</span></p>
        <p class="text-faded mb-4"><strong>TL;DR </strong><span translate>here is, that I am full stack developer, that loves geeking out over build, test and deployment automation.</span></p>
        <p class="text-faded mb-4">
          <span translate>Currently I am operating at full time as Lead Developer at </span><a href="https://www.netcompany.com/">Netcompany</a><span translate>. Which is working out pretty great for me, since I get to dive into a lot of interesting technology, work with some  and work on  advancing a setup .. MORE...</span>
        </p>
        <a class="btn btn-light btn-xl text-uppercase" [ngx-scroll-to]="'#skills'" translate>Key Skills</a>
      </div>
    </div>
  </div>
</section>
